.vamtam-color-row-group-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	width: 100%;
	margin-top: 15px;
	position: relative;

	.vamtam-color-row-single-color-wrapper {
		width: 50%;
		padding-right: .5em;
		box-sizing: border-box;

		&:nth-child( 2n ) {
			padding-left: .5em;
			padding-right: 0;
		}

		&:nth-child(2n) .wp-picker-holder {
			transform: translateX( calc( ~"-100% - .75em" ) );
		}
	}

	#vamtam-warning-tooltip {
		width: 100%;
		padding: 18px;
		box-sizing: border-box;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.20);
		background-color: #ffffff;
		position:absolute;
		z-index:2;
		bottom: 40px;
		transition: all .4s;

		.desc {
			margin-bottom: 10px;
			p {
				font-size: 13px;
				padding: 0;
				margin: 0;
			}
		}
		
		.info {
			display: flex;
			
			.level {
				font-size: 18px;
				color: #d6d6d6;
				margin-right: 15px;

				.red {
					color: #d72c42;
				}
			}

			.read-more{
				a {
					color: #000;
					font-size: 14px;
					text-decoration: none;
				}
			}
		}

		i {
			position:absolute;
			top:100%;
			left:53%;
			margin-left:-12px;
			width:24px;
			height:12px;
			overflow:hidden;

			&::after {
				content:'';
				position:absolute;
				width:12px;
				height:12px;
				left:50%;
				transform:translate(-50%,-50%) rotate(45deg);
				background-color:#ffffff;
				box-shadow:0 1px 8px rgba(0,0,0,0.5);
			}
		}

	}

	.vamtam-color-row-container{
		width: 100%;
		display: flex;
		margin-bottom: 6px;
		justify-content: space-between;
		position: relative;

		.color-row-number {
			width: 8%;
			text-align: center;
		}

		.color-row-warning {
			width: 12%;

			span.dashicons {
				font-size: 1.3em;
				color: #d3d3d3;
				margin: 5px auto 0;
				display: block;

				&.dashicons-warning {
					cursor: pointer;
				}
				&.contrast-warning-aaa {
					color: #ffc260;
				}

				&.contrast-warning-aa {
					color: #e5001c;
				}
			}
		}

		.vamtam-color-row-single-color-wrapper {
			box-sizing: border-box;
			width: 40%;

			&:nth-child( 2n ) {
				padding-left: 0;
				padding-right: 0;
			}

			&:nth-child(2n) .wp-picker-holder {
				transform: none;
			}

			&:last-child .wp-picker-holder {
				transform: translateX( calc( ~"-100% - 2em" ) );
			}

			.wp-picker-container {
				.wp-color-result.button {
					margin: 0 0 6px 0;
					width: 100%;
				}
			}
		}
	}


	.wp-picker-open + .wp-picker-input-wrap {
		display: block;
	}

	.wp-color-result::after {
		min-width: 79px;
	}

	.wp-picker-container {
		max-width: 100%;
	}

	.wp-picker-input-wrap {
		min-width: 150px;
	}

	.vamtam-disable-color-picker {
		pointer-events: none;
		opacity: .3;
		transition: all .4s;
	}

}