blockquote {
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin: 0px 11px 12px 0px;
	border-left: 10px solid var( --vamtam-accent-color-1 ) !important;
	padding-left: 30px;
	text-align: left;
	font-size: 1.4em;

	&.wp-block-quote {
		text-align: inherit;
		box-sizing: border-box;

		&.is-large {
			border-left-width: 10px !important;
		}

		&:not(.is-large):not(.is-style-large) {
			border-left: 4px solid var( --vamtam-accent-color-1 ) !important;
		}
	}

	#main.layout-left-only &,
	#main.layout-left-right & {
		margin-left: 0;
	}

	p {
		font-family: var( --vamtam-h2-font-family );
		font-size: 1em;
		line-height: 1.5em;
		font-weight: bold;
		margin: 1em 0em !important;
		color: var( --vamtam-accent-color-1 );
	}

	&.jetpack-testimonial p {
		color: var( --vamtam-primary-font-color );
	}

	&.small {
		p, & {
			.vamtam-font(primary-font-);
			margin-bottom: 0;
		}
	}

	&.simple {
		overflow: auto;
		margin: 0;
		padding-left: 0;
		border-left: 0 !important;
		text-align: center;
		display: flex;

		&.alignment-center {
			flex-flow: column;
		}

		&.alignment-left {
			flex-flow: row;

			.quote-text {
				text-align: left;
				width: 85%
			}
			.quote-thumbnail {
				width: 17%;
				margin: 0px 3% 0px 0px;
			}
		}

		&.alignment-right {
			flex-flow: row-reverse;

			.quote-text {
				text-align: right;
				width: 85%
			}
			.quote-thumbnail {
				width: 17%;
				margin-left: 3%;
				margin: 0px 0px 0px 3%;
			}
		}

		.quote-thumbnail {
			width: 120px;
			margin: auto auto 20px auto;
			text-align: center;

			img {
				display: block;
				margin: 0px;
				width: 100%;
				height: auto;
				border-radius: var( --vamtam-border-radius );
			}
		}

		.quote-text {
			.vamtam-font(primary-font-);
			overflow: hidden;
			display: inline-block;
			vertical-align: top;
		}

		.quote-summary {
			margin-top: 0;
		}
		h3.quote-summary {
			font-family: var( --vamtam-additional-font-1-font-family );
			color: var( --vamtam-accent-color-6 );
		}
		.quote-title-wrapper {
			margin: 10px 0 0 0;
		}

		.quote-title {
			width: auto;
			color: var( --vamtam-accent-color-3 );
			border: none;
			padding: 0px;
			border-radius: 0px;
			margin: 0px 0px 15px 0px;
			font-size: 10px;
			font-weight: normal;
			letter-spacing: 0.1em;
			line-height: 20px;

			&{
				color: var( --vamtam-accent-color-3 );
			}

			a {
				color: var( --vamtam-accent-color-1 );
			}

			.the-title:not(:last-child) {
				padding-right: 3px;
			}

			.the-title {
				padding-left: 5px;
			}

			.icon {
				font-size: 16px;
				vertical-align: bottom;
				margin-right: 5px;
				color: var( --vamtam-accent-color-6 );
			}
		}
	}

	cite,
	.wp-block-pullquote__citation,
	.wp-block-quote__citation {
		display: block;
		margin: 20px 0 0 0;
		text-transform: none;

		&, a {
			.vamtam-font(primary-font-);
			color: var( --vamtam-body-link-regular );
		}

		a {
			vertical-align: middle;
		}

		&:before {
			display: inline-block;
			margin-right: 10px;
			width: 30px;
			height: 0;
			border-bottom: 1px solid var( --vamtam-default-line-color );
			content: "";
			vertical-align: middle;
		}
	}

	&:last-child {
		cite:empty {
			display: none;
		}
	}

	p {
		&:first-child { margin-top: 0; }

		&:last-child { margin-bottom: 0; }
	}
}
.vamtam-tst-align-left .cbp-nav-pagination {
	right: inherit;
}
.vamtam-tst-align-right .cbp-nav-pagination {
	left: inherit;
}
.fl-builder .article.post_format-post-format-quote blockquote {
	text-align: center;
	border: none;
	padding: 0px;
	margin: 40px 0px 60px 0px;
}

.wp-block-pullquote {
	padding-top: 0;
	padding-bottom: 0;
	border: 0;

	> blockquote {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	&.alignleft,
	&.alignright {
		& + p {
			padding-top: 50px;
		}
	}
}